services:
  frigate:
    container_name: frigate
    restart: unless-stopped
    image: ghcr.io/blakeblackshear/frigate:stable
    privileged: true
    network_mode: host
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config/frigate.yml:/config/config.yml
      - /opt/frigate/storage:/media/frigate
    # Ports exposed via host network: 5000 (UI), 8554 (RTSP), 8555 (WebRTC)
    environment:
      - FRIGATE_RTSP_PASSWORD=${FRIGATE_RTSP_PASSWORD:-}
